#header {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(24px)
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
}

.header>div {
  padding: 16px 24px;
  background: rgba(211, 211, 211, 0.7);
  backdrop-filter: blur(12.2px);
  border-radius: 12px;
  display: flex;
  gap: 24px;
}

.header button {
  padding: 12px 20px;
}

.header img {
  height: 22px;
}

#mainCar {
  background: url('../image/hero-banner.png');
  background-size: cover;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  padding: 120px 0;
}

.mainCar>div {
  display: flex;
  flex-direction: column;
  padding: 50px 0 80px;
  width: 100%;
}

#mainCar::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.42);
}

.mainCar {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 150px;
  width: 100%;
}

.mainCar h1 {
  font-size: 60px;
}

.mainCar p {
  font-size: 20px;
}

.mainCar button {
  width: 60%;
  margin-top: -50px;
  max-width: 500px;
}

#CarRent {
  background: url('../image/fone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 120px 0;
  position: relative;
}

#CarRent .container {
  height: 100%;
}

.CarRent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CarRent span {
  color: red;
}

.CarRent-p1 {
  font-size: 60px;
  font-weight: 600;
}

.CarRent-p2 {
  margin-bottom: 48px;
  font-size: 20px;
}

.CarRent-text1,
.CarRent-text2 {
  padding: 0 250px;
  font-size: 20px;
  color: rgba(211, 211, 211, 1);
}

.CarRent-text1 {
  margin-bottom: 16px;
}

.CarRent-text2 {
  margin-bottom: 42px;
}

.CarRent button {
  width: 30%;
}

#mainCar3 {
  padding: 100px 0;
  background: #ebebeb;
}

.mainCar3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  position: relative;
}

h2 {
  color: rgba(238, 30, 36, 1);
  font-size: 36px;
  margin-bottom: 48px;
}

.mainCar3-window {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 15px;
  width: 55%;
}

.mainCar3 h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 13px;
  transition: 0.2s;
}

.mainCar3 p {
  color: rgba(100, 100, 106, 1);
  opacity: 0;
  transition: 0.2s;
  font-size: 20px;
}

.mainCar3-window:hover h1 {
  color: rgba(238, 30, 36, 1);
  transition: 0.2s;
}

.mainCar3-window:hover p {
  transition: 0.2s;
  opacity: 1;
}

.mainCar3 img:nth-child(1) {
  width: 152px;
  position: absolute;
  right: 270px;
  top: 35%;
}

.mainCar3 img:nth-child(2) {
  width: 252px;
  position: absolute;
  right: 0;
  top: 35%;
}

.mainCar3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
}

.mainCar3-grid>div {
  background: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  border-radius: 24px;
}

.mainCar3-grid img {
  padding: 14px;
  border-radius: 10px;
  background: rgba(16, 16, 16, 1);
  margin-bottom: 10px;
}

.mainCar3-grid>div:nth-child(5) {
  grid-column: span 2;
}

.mainCar3-grid>div:nth-child(6) {
  grid-column: span 2;
}

#mainCar3-2 {
  background: #ebebeb;
  padding-bottom: 100px;
}

.mainCar3-2 {
  width: 100%;
  background: rgba(16, 16, 16, 1);
  color: white;
  padding: 48px;
  border-radius: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.mainCar3-2>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainCar3-2 h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

.mainCar3-2 p {
  font-size: 20px;
}

.mainCar3-2 img {
  width: 100%;
  grid-column: 2 span;
}

#faq {
  padding: 90px 0;
}

#faq .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

.faq {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
  align-items: center;
}

.faq-details img {
  width: 20px;
}

.faq-answers {
  width: 100%;
  user-select: none;
}

.faq-answers>div {
  border-bottom: 1px solid black;
  padding-bottom: 32px;
  padding-top: 24px;
}

.faq-text {
  display: none;
}

.faq-details>div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.faq-details p {
  color: gray;
}

.faq-answers:last-child {
  margin-bottom: 48px;
}

.faq-window {
  background: rgba(235, 235, 235, 1);
  padding: 32px;
  border-radius: 24px;
  width: 100%;
  text-align: center;
}

.faq-window img {
  width: 120px;
  margin-bottom: 32px;
}

.faq-window p {
  margin-bottom: 32px;
}

.faq-window button {
  padding: 10px 18px;
}

#contacts {
  padding: 80px 0;
  background: rgba(16, 16, 16, 1);
  color: white;
}

.contacts>div:nth-of-type(1) {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}

.contacts h2 {
  color: white;
}

.contacts>p {
  color: rgba(238, 30, 36, 1);
}

.contacts h3 {
  margin: 0;
}

.contacts>div:nth-of-type(1)>div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.contacts-form {
  width: 100%;
  background: rgba(235, 235, 235, 1);
  color: black;
  padding: 40px 0;
  border-radius: 24px;
  display: flex;
  justify-content: center;
}

.contacts-form form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 480px;
}

.contacts-form input {
  border: 1px solid rgba(235, 235, 235, 1);
  padding: 12px 16px;
  border-radius: 8px;
}

.contacts-form textarea {
  border-radius: 8px;
  border: 1px solid rgba(235, 235, 235, 1);
  height: 120px;
  padding: 12px 16px;
}

.contacts-form form> :nth-child(1) {
  display: flex;
  gap: 32px;
  flex: 1;
}

.contacts-form form> :nth-child(2),
.contacts-form form> :nth-child(3) {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.contacts-form form> :nth-child(1)>div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
}

.contacts-form button {
  width: 100%;
  margin-top: 8px;
}

.contacts-checkText {
  color: rgba(100, 100, 106, 1);
  user-select: none;
}

.contacts-checkBox {
  margin-right: 12px;
}

#footer {
  background: #ebebeb;
  padding: 100px 0 50px;
  color: white;
}

#footer p,
#footer a {
  font-size: 14px;
}

#footer a {
  color: white;
}

.footer {
  border-radius: 24px;
  background: rgba(16, 16, 16, 1);
  padding: 48px;
}

.footer>div:nth-of-type(1)>img {
  height: 22px;
}

.footer> :nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.footer> :nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0 32px;
  padding-top: 32px;
  border-top: 1px solid white;
}

.footer> :nth-child(2) img {
  height: 48px;
}

.footer :nth-child(1)>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#footer p.footer-title {
  font-weight: 700;
  font-size: 18px;
}

.aboutContact {
  justify-content: space-evenly !important;
}

iframe {
  margin-bottom: 48px;
  border-radius: 25px;
}

.contacts>div:nth-of-type(2) {
  display: flex;
  margin-bottom: 64px;
}

.contacts>div:nth-of-type(2)>div {
  flex: 1;
  line-height: 1.5;
  text-align: center;
}

.investors-mainCar3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.investors-mainCar3-grid>div {
  background: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  border-radius: 24px;
}

.investors-mainCar3-grid img {
  padding: 14px;
  border-radius: 10px;
  background: rgba(238, 30, 36, 1);
  margin-bottom: 10px;
}

#investorSlider {
  background: #ebebeb;
  padding: 0 0 100px;
}

#investorsInfo {
  background: #ebebeb;
  padding-top: 100px;
}

.investorsInfo {
  background: white;
  border-radius: 24px;
  padding: 32px;
  display: flex;
}

.investorsInfo h2 {
  flex: 0.6;
  margin: 0;
}

.investorsInfo>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#investorsGain {
  padding-bottom: 100px;
  background: #ebebeb;
}

.investorsGain>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
.investorsGain span{
  font-weight: 400;
  font-size: 16px;
}

.investorsGain>div>div {
  display: flex;
  box-shadow: 0 4px 8px #0000001a;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  gap: 20px;
  text-align: center;
  flex-direction: column;
  background: white;
}
.investorsGain p::before{
  content: url("../../assets/image/Icon.svg");
  padding-right: 15px;
}

.investorsGain>div h2{
  margin: 0;
  color: black;
}
.investorsGain h3{
  padding-bottom: 16px;
}