* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'OpenSans', sans-serif;
}

button {
  border-radius: 12px;
  background: rgba(238, 30, 36, 1);
  padding: 12px 0 12px;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1140px;
}

a {
  color: rgba(16, 16, 16, 1);
  text-decoration: none;
}